extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Seccion Nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nam rem repudiandae nihil delectus commodi temporibus, dolore quod totam, cumque deleniti hic molestias perferendis, voluptates vel soluta doloribus illum tempore dignissimos earum animi eligendi dicta et. Eum dignissimos, perferendis unde rem ea magni optio eos, reiciendis repellendus perspiciatis, odit porro.
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga officiis soluta delectus amet tempore dignissimos placeat maxime, voluptatibus non quis provident. Sed fuga nihil magni. Quaerat odit quidem libero.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptatum labore rem hic velit corrupti voluptas amet commodi. Dolor minima alias dolores saepe aperiam? Pariatur cum maiores laudantium ullam. Eius, neque animi vero natus consectetur est expedita et molestias similique?
    
    .listado-iconos
        .container.mt5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p voluptatum labore rem hic velit corrupti voluptas amet commodi. Dolor minima alias dolores saepe aperiam?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p voluptatum labore rem hic velit corrupti voluptas amet commodi. Dolor minima alias dolores saepe aperiam
    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p voluptatum labore rem hic velit corrupti voluptas amet commodi. Dolor minima alias dolores saepe aperiam Lorem ipsum dolor sit amet.
    